* {
  padding: 0;
  margin: 0;
  font-family: "Anton", sans-serif;
}
nav {
  background-color: rgb(106, 123, 139);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logoimg {
  width: 10em;
  padding: 0.8em 2em;
}
ul li {
  display: inline;
  float: left;
  /* justify-content: right;  */
  padding: 0.5em 0.5em;
}
.navlinks {
  text-decoration: none;
  color: #fff;
  font-family: sans-serif;
  font-weight: 600;
}
.logosection {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-content: space-around;
}
.sectionlog {
  /* padding: 1em 0; */
  height: 13em;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.textonImg {
  position: absolute;
  text-align: center;
  top: 2em;
  color: #fff;
  font-weight: 900;
  font-size: 3em;
  font-style: bold;
  font-family: "Anton", sans-serif;
}
.headerimage {
  height: 50em;
  width: 80%;
}
.midsection {
  padding: 2em 0;
  font-weight: 900;
  font-size: 2.5em;
  font-style: bold;
  text-align: center;
  font-family: "Exo 2", sans-serif;
  color: dimgray;
}
.cards {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}
.card {
  margin: 2em;
  height: 30em;
  width: 25em;
  display: flex;
  flex-direction: column;
  background-color: rgb(186, 194, 200);
  align-items: center;
  justify-content: space-around;
  padding: 1em;
  box-shadow: 1px 1px 2px #000;
  border-radius: 0.3em;
}
.cardImg {
  width: 12em;
  height: 12em;
}
.cardTitle {
  color: #fff;
  font-size: 2em;
  font-weight: 800;
  text-shadow: 1px 1px 2px rgb(181, 184, 192);
  font-family: "Anton", sans-serif;
}
.cardPara {
  color: #fff;
  font-size: 1.3em;
  font-weight: 700;
  text-shadow: 1px 1px 2px #000;
  font-family: "Anton", sans-serif;
}
.sectionbutton {
  display: flex;
  justify-content: center;
  margin: 2em;
}
.divlikeButton {
  background-color: rgb(106, 123, 139);
  color: #fff;
  padding: 1.5em 4em;
  text-shadow: 1px 1px 2px #000;
  font-size: 1.3em;
  font-weight: 700;
  border-radius: 1em;
}
.divColumns {
  column-count: 2;
}
.headingCenter {
  text-align: center;
  font-weight: 900;
  font-size: 2.5em;
  font-style: bold;
  font-family: "Anton", sans-serif;
  color: dimgray;
}
.wrapper {
  display: grid;
  column-count: 2;
  grid-template-columns: repeat(2, 1fr);
  /* grid-auto-rows: 100px; */
  font-size: 1.3em;
  /* border : 1px solid red; */
  margin: 0 15%;
  color: dimgray;
}
.wrapper div:nth-child(-n + 6):nth-child(n + 3) {
  /* border : 1px solid rgb(22, 18, 18); */
  margin: 1.8em 0.5em;
}
.box1 {
  grid-column: 1 / 3;
  margin: 0;
}
.box2 {
  grid-column: 1 / 3;
  display: flex;
  flex-direction: row;
  text-align: left;
  margin: 0em 0 2em 0;
}
.box2 img {
  height: 6.5em;
  width: 6.5em;
  margin: 0 2em 0 0;
}
.box2 h3 {
  font-size: 1.5em;
  font-weight: 700;
  font-family: "Anton", sans-serif;
  color: dimgray;
  align-self: center;
}
.box3 {
  font-size: 1.2em;
}
.box5 {
  font-weight: 800;
}
.box6 {
  font-weight: 600;
  grid-column: 1 / 3;
  margin: 2em 0;
  text-align: center;
}
/* footer  */
.footer {
  background-color: rgb(106, 123, 139);
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.divfooterLinks {
  justify-self: center;
}
.logoimgfooter,
.divfooterLinks ul li img {
  /* width: 3em; */
  height: 3em;
  margin: 1em;
}

.divfooterLinks p {
  color: #fff;
  margin: 2em 0 0 0;
}
